{% extends "base.html" %}
{% load static %}


{% block content  %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br/><br/>
                <p align="justify">
                EgeShop, e-ticaretin geleceğini şekillendiren yenilikçi bir platformdur. Hem satıcılar hem de müşteriler için kusursuz bir alışveriş deneyimi sunmayı hedefliyoruz. Geleneksel pazaryerlerinden farklı olarak, satıcılarımızın ürünlerini kendi depolarımızda özenle saklıyor, sipariş geldiğinde en yüksek hijyen ve kalite standartlarında paketleyerek insan eli değmeden müşterilerimize ulaştırıyoruz.
                <br/><br/>
                EgeShop, satıcıların lojistik ve operasyonel süreçlerle uğraşmasına gerek kalmadan, yalnızca satışlarına odaklanabilecekleri bir sistem sunar. Siz ürünlerinizi listeleyin, gerisini biz halledelim! Depolama, paketleme ve kargo süreçleri tamamen bizim kontrolümüzde olup, tüm aşamalar en modern teknolojilerle yönetilmektedir.Müşterilerimiz için ise güvenli, hızlı ve sorunsuz bir alışveriş deneyimi sağlıyoruz. Ürünlerin depolanmasından teslimatına kadar her aşama titizlikle yürütülerek en iyi hizmeti sunuyoruz.
                <br/><br/>
                🌟 Satıcılar İçin Zahmetsiz Satış: Ürünlerinizi stoklama, paketleme ve kargo süreciyle uğraşmadan kolayca satın.<br/>
                📦 Profesyonel Depolama & Paketleme: Ürünleriniz özel depolarımızda saklanır ve yüksek standartlarda hazırlanır.<br/>
                🚀 Hızlı ve Güvenilir Teslimat: Siparişler, en kısa sürede güvenli bir şekilde müşterilere ulaştırılır.<br/>
                💳 Kolay ve Güvenli Ödeme Sistemleri: Hem satıcılar hem de müşteriler için güvenli ve hızlı ödeme çözümleri sunarız.<br/>
                📞 7/24 Destek: Sorularınızı yanıtlamak ve her an yanınızda olmak için buradayız.<br/><br/>
                EgeShop ile alışverişin geleceğini bugünden keşfedin! İster satıcı olun, ister müşteri—bizimle her şey daha kolay ve güvenli.<br/>
                </p>
                <br/><br/>
                </div>
            </center>
        </div>
    </div>

{% endblock  %}